<%# debugger %>

<%# ------ From Spree DB to JavaScript via HTML data- attributes, nice, happy with that (it's a Rails thing...)! ------ %>

<%# --- First make sure the Property Type has been added to the DB --- %>
<% if propertyType = Spree::Property.find_by_name("Pattern Repeat") %>

  <%# --- Then check whether this product requires the Pattern Repeat pricing --- %>
  <% if ( property = @product_properties.find_by_property_id(propertyType.id) ) %>
    <% patternRepeat = property.value %>
  <% else %>
    <% patternRepeat = 0 %>
  <% end %>   

<% else %>
  <% patternRepeat = 0 %>
<% end %>

<%= content_tag "div", id: "bsc-pricing", data: {
returns_addition: Spree::Config[:returns_addition],
side_hems_addition: Spree::Config[:side_hems_addition],
turnings_addition: Spree::Config[:turnings_addition],

pencil_pleat_multiple: Spree::Config[:pencil_pleat_multiple],
deep_pencil_pleat_multiple: Spree::Config[:deep_pencil_pleat_multiple],
double_pleat_multiple: Spree::Config[:double_pleat_multiple],
triple_pleat_multiple: Spree::Config[:triple_pleat_multiple],
eyelet_pleat_multiple: Spree::Config[:eyelet_pleat_multiple],

fabric_width: Spree::Config[:fabric_width],

cotton_lining: Spree::Config[:cotton_lining],
blackout_lining: Spree::Config[:blackout_lining],
thermal_lining: Spree::Config[:thermal_lining],

cotton_lining_labour: Spree::Config[:cotton_lining_labour],
blackout_lining_labour: Spree::Config[:blackout_lining_labour],
thermal_lining_labour: Spree::Config[:thermal_lining_labour],

pattern_repeat: patternRepeat
} do %>

<%# --- This 'ActionView::Helper' version uses a 'data' hash that auto converts objects to JSON representation. --- %>
<%# --- Useful, but expects an HTML content block that we don't want for just storing the pricing params! --- %>

<% end %>
<%# ------------------------------------------------------------------------------------------------------------------- %>

<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <div class="columns sixteen alpha" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">

      <div id="product-images" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= render :partial => 'image' %>
        </div>
        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails' %>
        </div>
      </div>

      <div data-hook="product_properties">
        <%= render :partial => 'properties' %>
      </div>

      <div data-hook="promotions">
        <%= render :partial => 'promotions' %>
      </div>

    </div>
  </div>

  <div class="columns ten clearfix" data-hook="product_right_part">
    <div class="row" data-hook="product_right_part_wrap">

      <div id="product-description" data-hook="product_description">

        <h1 class="product-title" itemprop="name"><%= accurate_title %></h1>

        <div itemprop="description" data-hook="description">
          <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
        </div>

      </div>

      <%# --- render :partial => 'taxons' --- %>

    </div>
  </div> <%# END - data-hook="product_right_part" %>
  
  <br class="clear">
  
  <%# --- Price --- %>
  <div id="price-box">
    <table>
      <tr>
        <td><h3 class="product-section-title" id="price-title">Price:</h3></td>
        <td>
          <span id="price-text">
<%# "product ID: #{@product.master.id} = #{ @product.price }"  %>
          </span>
        </td>
      </tr>
    </table>
  </div>

  <div class="columns sixteen alpha" data-hook="bsc-form-cols">

    <div class="row" data-hook="bsc-form-row">
    
      <%# -------------------------- Sample form --------------------------- %>
      <%= form_for :order, :url => populate_orders_path, :remote => true do |f| %>
        <%# --- Sample --- %>
        <%= button_tag :class => 'small secondary', :id => 'add-sample-to-cart-button', :type => :submit do %>
          request sample
        <% end %>
        
        <% if @product.variants_and_option_values(current_currency).any? %>
          <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
            <% if variant.option_value("silk") %>
              <%= hidden_field_tag "products[#{@product.id}]", variant.id, :id => 'sample-variant' %>
            <% end %>
          <% end %>
        <% end %>
        
        <%# --- Quantity of product or variant --- %>
        <%= hidden_field_tag (@product.variants_and_option_values.any? ? :quantity : "variants[#{@product.master.id}]"), 1 %>
        
        <%# --- Dynamic price --- %>
        <%= hidden_field_tag :price, 0, :id => 'sample-price' %>
        
        <%# --- Required curtain spec --- %>
        <%= hidden_field_tag :spec, "N/A", :id => 'sample-spec' %>
      
      <% end %> <%# END: 'form_for :order, ...' %>

      <%# -------------------------- Curtain spec form --------------------------- %>            
      <%# --- This used to get made into AJAX form by '/app/overrides/ajax_cart_form.rb' but adding ":remote => true" here now --- %>
      <%= form_for :order, :url => populate_orders_path, :remote => true do |f| %>

        <%# --- Width and Drop --- %>
        <h5 class="product-section-title">Curtain width</h5>
        <%= number_field_tag 'width', nil, :id => 'width' %>

        <h5 class="product-section-title">Curtain drop</h5>
        <%= number_field_tag 'drop', nil, :id => 'drop' %>
        
        <%# --- Lining --- %>
        <h5 class="product-section-title">Lining</h5>
        <%= select_tag :lining, options_for_select([ ['Cotton',  1,{'data-type' => 'cotton'}], 
                                                     ['Blackout',2,{'data-type' => 'blackout'}],
                                                     ['Thermal', 3,{'data-type' => 'thermal'}] ], 1) %>

        <%# --- Heading Variants --- %>
        <% if @product.variants_and_option_values(current_currency).any? %>
          <div id="product-variants" class="columns five alpha">
            <h5 class="product-section-title"><%= Spree.t(:variants) %></h5>
            <ul>
              <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
                <li>
                
                  <% if heading = variant.option_value("heading") %>
                    <%= radio_button_tag "products[#{@product.id}]", variant.id, index == 0, 'data-price' => variant.price_in(current_currency).display_price, 'data-heading' => heading.downcase %>
                    
                    <label for="<%= ['products', @product.id, variant.id].join('_') %>">

                      <img src="/assets/store/pleats/<%= heading.downcase %>.jpg" />

                      <span class="variant-description">
                        <%= variant_options variant %>
                      </span>
                      <% if variant_price variant %>
                        <span class="price diff"><%= variant_price variant %></span>
                      <% end %>
                    </label>
                  <% end %>

                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="add-to-cart">

          <%# --- Quantity of product or variant --- %>
          <%= hidden_field_tag (@product.variants_and_option_values.any? ? :quantity : "variants[#{@product.master.id}]"), 1 %>
          
          <%# --- Dynamic price --- %>
          <%= hidden_field_tag :price, 49 %>
          
          <%# --- Required curtain spec --- %>
          <%= hidden_field_tag :spec, "Sample" %>

          <%= check_box_tag 'cm_measurements', 'accepted', false %>
          <span id="measurements_text">I accept that measurements are 'cm'</span>
          
          <br class="clear">

          <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
          <% end %>
          
        </div>

        <br class="clear">

        <span id="page-link-to-cart" data-hook class="cart-indicator"><%= link_to_cart %></span>

      <% end %> <%# END: 'form_for :order, ...' %>

    </div> <%# END: data-hook="bsc-form-row" %>

  </div> <%# END: data-hook="bsc-form-cols" %>

</div>
